[submodule "mrst"]
	path = submodules/mrst
	url = https://github.com/SINTEF-AppliedCompSci/MRST.git
	branch = main
[submodule "PhreeqcMatlab"]
	path = submodules/PhreeqcMatlab
	url = https://github.com/simulkade/PhreeqcMatlab.git
